
@{
    ViewBag.Title = "Home Page";
}

 <!-- criteria -->
  <div class="row top_tiles">
              <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" >
               @Html.Partial("_PaieCriteria")
              </div>
             
            </div>
 <!-- / criteria -->

 

        <!-- row 1 -->
          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
              @Html.Partial("_EffectifAnnee")
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 widget_tally_box">
             @Html.Partial("_EffectifEntiteAdmin")
            </div>

 
          
          
            </div>
 <!-- /row 1 -->


 <!-- row 2 -->
         <div class="row">

                 <div class="col-md-6 col-sm-6 col-xs-12">
             @Html.Partial("_EvolutionMasseSalariale", new Cima.Models.TestModel.BusinessModel { Xvalue = "2017"})
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
             @Html.Partial("_EffectifCatSocioPro")
            </div>

            
          
          </div>         
        <!-- /row 2 -->


<!-- row 3 -->
         <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12 widget_tally_box">
             @Html.Partial("_SalaireEntiteAdmin")
            </div>

 
              <div class="col-md-6 col-sm-6 col-xs-12">
             @Html.Partial("_DeductionAnnee")
            </div>
          
          </div>         
        <!-- /row 3 -->


  <script>

   
      $(document).ready(function () { displayDashboard();  });

        //Custom Scripts
        function onCriteriaChange() {
            displayDashboard();
            //if ($("#chkHomme").prop('checked'))
            //{ alert("criteria change"); }

            //alert("date: " + $("#dt_date").val());
           
        }

        function ontableDetDatabound() {
            displayDashboard();
        }

        function displayDashboard() {
            var employeeCount = $("#employeebyyearChart").data("kendoChart"),
                employeeDptCount = $("#topfiveChart").data("kendoChart"),
                evolMassSalariale = $("#evolmasseSalchart").data("kendoChart"),
                employeeCSPcount = $("#effCatSocioProChart").data("kendoChart"),
                salaireEntAdmin = $("#SalentiteadminChart").data("kendoChart"),
                montantDeduction = $("#TaxDeductionChart").data("kendoChart");

            employeeCount.dataSource.read();
            employeeDptCount.dataSource.read();
            evolMassSalariale.dataSource.read();
            employeeCSPcount.dataSource.read();
            salaireEntAdmin.dataSource.read();
            montantDeduction.dataSource.read();
        }

        function getFilterItems() {
            var entiteadmin = $("#cbx_entiteAdmin"),
            trancheage = $("#cbx_age"),
            trancheanc = $("#cbx_trancheAnc");
            temps = $("#dt_date");

            if ($("#chkHomme").prop('checked'))
            {
                if ($("#chkFemme").prop('checked')) sexe = "All";
                else sexe = "Masculin";
            } else {
                if ($("#chkFemme").prop('checked')) sexe = "Feminin";
                else sexe = "All";
            }

            //if ($("#dt_date").val() == "") temps="February 2017";
            //else temps = $("#dt_date").val();
            

            var filter = {
                temps: temps.val(),
                entiteadmin: entiteadmin.val(),
                trancheAge: trancheage.val(),
                trancheAnc: trancheanc.val(),
                sexe: sexe
            }
            return filter;
        }



    </script>


          