@model Cima.ViewModel.UserViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Cima Apps - Login </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">

    <script src="~/Scripts/jquery.min.js"></script>

    <style>
        #validation-errors{
            color: #da230eb5;
            position: absolute;
            top: -60px;
            width: 100%;
            font-size:22px;
            font-weight: 600;
        }
        ul{
                list-style-type: none;
        }
        .input-container{
            margin-bottom:20px;
            text-align:left;
        }
    </style>

</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            
            <div class="animate form login_form">
                <section class="login_content">
                    @*  <form>*@
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true,"",new { @id="validation-errors"})

                        <h1>Connexion</h1>
                        <div class="input-container">
                            @*<input type="text" class="form-control" placeholder="Username" required="" />*@
                            @Html.TextBoxFor(m => m.LoginModel.UserName, new { @class = "form-control", @placeholder = "Nom d'utilisateur", @style = "margin-bottom:5px" })
                            @Html.ValidationMessageFor(m => m.LoginModel.UserName, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="input-container">
                            @*<input type="password" class="form-control" placeholder="Password" required="" />*@
                            @Html.PasswordFor(m => m.LoginModel.Password, new { @class = "form-control", @placeholder = "Mot de passe", @style = "margin-bottom:5px" })
                            @Html.ValidationMessageFor(m => m.LoginModel.Password, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div>
                            <button class="btn btn-success btn-lg submit" style="width:100%;font-size:18px"><span>Log in </span> <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="float:right;font-size:1em;display:none"></i></button>
                            @*<input class="btn btn-success btn-lg submit" type="submit" value="Log in"  style="width:100%;margin-left:0px"/>*@
                            @*<a class="reset_pass" href="#">Mot de passe oublié?</a>*@
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Nouveau?
                                <a href="#signup" class="to_register"> Créer un compte </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-signal"></i> Cima Apps!</h1>
                                <p>©2019 All Rights Reserved. Designed by Interface SA</p>
                            </div>
                        </div>@*
                    </form>*@
                    }
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <h1>Nouveau compte</h1>
                        <div>
                            @*<input type="text" class="form-control" placeholder="Username" required="" />*@
                            @Html.TextBoxFor(m => m.RegisterModel.UserName, new { @class = "form-control", @placeholder = "Nom d'utilisateur" })
                            @Html.ValidationMessageFor(m => m.RegisterModel.UserName)
                        </div>
                        <div>
                            @*<input type="password" class="form-control" placeholder="Password" required="" />*@
                            @Html.PasswordFor(m => m.RegisterModel.Password, new { @class = "form-control", @placeholder = "Mot de passe" })
                            @Html.ValidationMessageFor(m => m.RegisterModel.Password)
                        </div>
                        <div>

                            @Html.PasswordFor(m => m.RegisterModel.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmer mot de passe" })
                            @Html.ValidationMessageFor(m => m.RegisterModel.ConfirmPassword)
                        </div>
                        <div>

                            @Html.TextBoxFor(m => m.RegisterModel.FirstName, new { @class = "form-control", @placeholder = "Nom" })
                            @Html.ValidationMessageFor(m => m.RegisterModel.FirstName)
                        </div>
                        <div>

                            @Html.TextBoxFor(m => m.RegisterModel.LastName, new { @class = "form-control", @placeholder = "Prénom" })
                            @Html.ValidationMessageFor(m => m.RegisterModel.LastName)
                        </div>
                        <div style="margin: 0 0 20px">

                            @Html.DropDownListFor(m => m.RegisterModel.Company, new SelectList(new[] { "Choisir la company", "CMDOMAS001", "CMDOMAS002", "CMDOMAS003", "CMDOMAS004", "CMDOMAS005", "CMDOMAS006", "CMDOMAS007", "CMDOMAS008", "CMDOMAS009", "CMDOMAS010", "CMDOMAS011", "CMDOMAS012", "CMDOMAS013", "CMDOMAS014", "CMDOMAS015", "CMDOMAS016", "CMDOMAS017", "CMDOMAS018", "BJDOMAS001", "BJDOMAS002", "BJDOMAS003", "BJDOMAS004", "BJDOMAS005", "BJDOMAS006", "BJDOMMU007", "BJDOMAS008", "BFDOMAS001", "BFDOMAS002", "BFDOMAS003", "BFDOMAS004", "BFDOMAS005", "BFDOMAS006", "BFDOMAS007", "BFDOMAS008", "BFDOMAS009", "CFDOMAS001", "CFDOMAS002", "CGDOMAS001", "CGDOMAS002", "CGDOMAS003", "CGDOMAS004", "CGDOMAS005", "CGDOMAS006", "CIDOMAS001", "CIDOMAS002", "CIDOMAS003", "CIDOMAS004", "CIDOMAS005", "CIDOMMU006", "CIDOMAS007", "CIDOMAS008", "CIDOMAS009", "CIDOMAS010", "CIDOMAS011", "CIDOMAS012", "CIDOMAS013", "CIDOMAS014", "CIDOMAS015", "CIDOMAS016", "CIDOMAS017", "CIDOMAS018", "CIDOMAS019", "CIDOMAS020", "CIDOMAS021", "CIDOMAS022", "GADOMAS001", "GADOMAS002", "GADOMAS003", "GADOMAS004", "GADOMAS005", "GADOMAS006", "GADOMAS007", "GWDOMAS001", "GWDOMAS002", "GQDOMAS001", "GQDOMAS002", "GQDOMAS003", "GQDOMAS004", "MLDOMAS001", "MLDOMAS002", "MLDOMAS003", "MLDOMAS004", "MLDOMAS005", "MLDOMAS006", "MLDOMAS007", "MLDOMAS008", "MLDOMAS009", "NEDOMAS001", "NEDOMAS002", "NEDOMAS003", "NEDOMAS004", "NEDOMAS005", "NEDOMAS006", "SNDOMAS001", "SNDOMAS002", "SNDOMMU003", "SNDOMAS004", "SNDOMAS005", "SNDOMAS006", "SNDOMAS007", "SNDOMAS008", "SNDOMAS009", "SNDOMAS010", "SNDOMAS011", "SNDOMAS012", "SNDOMAS013", "SNDOMAS014", "SNDOMAS015", "SNDOMAS016", "SNDOMAS017", "SNDOMAS018", "SNDOMAS019", "TDDOMAS001", "TDDOMAS002", "TGDOMAS001", "TGDOMAS002", "TGDOMAS003", "TGDOMAS004", "TGDOMAS005", "TGDOMAS006", "TGDOMAS007", "BJVIEAS001", "BJVIEAS002", "BJVIEAS003", "BJVIEAS004", "BJVIEAS005", "BJVIEAS006", "BJVIEMI007", "BFVIEAS001", "BFVIEAS002", "BFVIEAS003", "BFVIEAS004", "BFVIEAS005", "BFVIEAS006", "BFVIEAS007", "BFVIEAS008", "CMVIEAS001", "CMVIEAS002", "CMVIEAS003", "CMVIEAS004", "CMVIEAS005", "CMVIEAS006", "CMVIEAS007", "CMVIEAS008", "CMVIEAS009", "CMVIEAS010", "CMVIEAS011", "CFVIEAS001", "CGVIEAS001", "CGVIEAS002", "CIVIEAS001", "CIVIEAS002", "CIVIEAS003", "CIVIEAS004", "CIVIEAS005", "CIVIEAS006", "CIVIEAS007", "CIVIEAS008", "CIVIEAS009", "CIVIEAS010", "CIVIEAS011", "CIVIEAS012", "GAVIEAS001", "GAVIEAS002", "GAVIEAS003", "GAVIEAS004", "MLVIEAS001", "MLVIEAS002", "MLVIEAS003", "MLVIEAS004", "MLVIEMI005", "NEVIEAS001", "NEVIEAS002", "SNVIEAS001", "SNVIEAS002", "SNVIEAS003", "SNVIEAS004", "SNVIEAS005", "SNVIEAS006", "SNVIEAS007", "SNVIEAS008", "SNVIEAS009", "SNVIEAS010", "TDVIEAS001", "TGVIEAS001", "TGVIEAS002", "TGVIEAS003", "TGVIEAS004", "TGVIEAS005", "TGVIEAS006", "CMREAAS001", "CMREAAS002", "GAREAAS001", "BFREAAS001", "CIREAAS001", "CIREAAS002", "CIREAAS003", "TGREAAS001", "TGREAAS002", "CIREAAS005", "CIREAAS006", "CIREAAS007", "CIREAAS008", "CIREAAS009", "CIREAAS010", "CIREAAS011", "CIREAAS012", "SNREAAS001", "SNREAAS002", "CIREAAS004"}), new { @class = "form-control", @placeholder = "Company" })
                        </div>
                        <div style="margin: 0 0 20px">
                            @Html.DropDownListFor(m => m.RegisterModel.Profil, new SelectList(new[] { "Choisir le profil", "Admin", "Cima", "Directions des assurances","Entreprise IARD","Entreprise VIE" }), new { @class = "form-control", @placeholder = "Profil" })

                        </div>
                        <div>
                            <input class="btn btn-success btn-lg submit" type="submit" value="Enregitrer" style="width:100%;margin-left:0px" />
                            <input class="btn btn-warning btn-lg submit" value="Annuler" style="width:100%;margin-left:0px" />
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-signal"></i> Cima Apps!</h1>
                                <p>©2019 All Rights Reserved. Designed by Interface SA</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <script>
        $(".submit").click(function(){
            $(".fa-spinner").show();

            return true;
        });
    </script>
</body>
</html>
