@{
    ViewBag.Title = "Home Page";
}

 <!-- criteria -->
  <div class="row top_tiles">
              <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="tile-stats" style="height:125px;background:#EDEDED">
                   <div class="animated flipInY col-lg-3 col-md-3 col-sm-12 col-xs-12">
               
                      <div style="padding: 10px">
                           <div class="animated flipInY col-lg-4 col-md-4 col-sm-12 col-xs-12">
               
                         <span>
                             Start date : 
                         </span>
                               </div>
                              <div class="animated flipInY col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                   @(Html.Kendo().DatePicker()
                                .Name("dt_startdate")
                                .Start(CalendarView.Year)
                                .Depth(CalendarView.Year)
                                .Format("MMMM yyyy")
                                .Value(DateTime.Now.AddMonths(-1))
                                    )
                               </div>
                         
                      </div>

                       <div style="padding: 10px;margin-top: 30px">

                            <div class="animated flipInY col-lg-4 col-md-4 col-sm-12 col-xs-12">
               
                         <span>
                             End date : 
                         </span>
                               </div>

                          <div class="animated flipInY col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           @(Html.Kendo().DatePicker()
                                .Name("dt_enddate")
                                .Start(CalendarView.Year)
                                .Depth(CalendarView.Year)
                                .Format("MMMM yyyy")
                                .Value(DateTime.Now)
                                    )
                              </div>
                      </div>
                     
                
                  </div>

                    <div class="animated flipInY col-lg-6 col-md-6 col-sm-12 col-xs-12">
               
                      <div style="padding: 10px">
                           <div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
               
                         <span>
                             Network : 
                         </span>
                               </div>
                              <div class="animated flipInY col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                   @(Html.Kendo().ComboBox()
                                .Name("cbx_network")
                                .Placeholder("Select a network...")
                                .BindTo(new List<string>(){
                                    "OrangeGW"})
                                .Suggest(true)
                                .HtmlAttributes(new {style="width: 60%"})
                                    )
                               </div>
                         
                      </div>

                       <div style="padding: 10px;margin-top: 30px">

                            <div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
               
                         <span>
                             Sites : 
                         </span>
                               </div>

                          <div class="animated flipInY col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          @(Html.Kendo().ComboBox()
                                .Name("cbx_site")
                                .Placeholder("Select a site...")
                                .BindTo(new List<string>(){
                                    "Maleya 1",
                                    "Abaya",
                                    "Udeni",
                                    "ChaiChai",
                                    "Bolobo",
                                    "Gabenge",
                                    "Kalo",
                                    "Nkolo",
                                    "Panu",
                                    "Tshumbiri",
                                    "Yumbi",
                                    "Kinshasa 01",
                                    "Kwamouth"})
                                .Suggest(true)
                                .HtmlAttributes(new {style="width: 60%"})
                                    )
                              </div>
                      </div>
                     
                
                  </div>

                </div>
              </div>
             
            </div>
 <!-- / criteria -->

 

        <!-- sms delivery failure, gauge, kb up , kp down-->
          <div class="row">
              <div class="animated flipInY col-lg-4 col-md-4 col-sm-7 col-xs-12">
                <div class="tile-stats" style="height: 150px">
                  <div class="tile_stats_count" style="padding: 5px;">
              <h3 class="count_top"><i class="fa fa-envelope"></i> SMS Delivery failure</h3>
              <div style="margin: 30px;">
                             
                           @(Html.Kendo().ProgressBar()
                              .Name("pb_smsDeliveryfailure")
                              .Value(60)
                              .Min(0)
                              .Max(100)
                              .Type(ProgressBarType.Percent)
                              )

                        </div>
              <span class="count_bottom pull-right"><i class="green"><i class="fa fa-sort-asc"></i> 10% </i></span>
            </div>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats" style="height: 150px">
                   <div class="tile_stats_count" style="padding: 5px">
                      <h3 class="count_top"><i class="fa fa-pie-chart"></i> Taux conso</h3>
                   <div id="gauge-container" class="" style="text-align:center">
                       @(Html.Kendo().RadialGauge()
                             .Name("gauge")
                             .Pointer(pointer => pointer.Value(65))
                             .Scale(scale => scale
                                  .MinorUnit(2)
                                  .StartAngle(0)
                                  .EndAngle(180)
                                  .Max(100))
                                  .HtmlAttributes(new { style="height: 100px" })
                            )
                   </div>
                   <span class="count_bottom pull-right"><i class="green"><i class="fa fa-sort-asc"></i> 65% </i></span>
                  </div>
                </div>
              </div>
              <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
               <div class="tile-stats" style="height: 150px">
                  <div class="tile_stats_count" style="padding: 5px;height: 150px">
                      <h3 class="count_top"><i class="fa fa-upload"></i> KB Up</h3>
                      <div class="count" style="text-align:center;margin: 15px;">2 500</div>
                       <span class="count_bottom pull-right"><i class="green"><i class="fa fa-sort-asc"></i> 34% </i></span>
                  </div>
                </div>
              </div>
              <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="tile-stats" style="height: 150px">
                  <div class="tile_stats_count" style="padding: 5px">
                      <h3 class="count_top"><i class="fa fa-download"></i> KB Down</h3>
                      <div class="count" style="text-align:center;margin: 15px">7 500</div>
                      <span class="count_bottom pull-right"><i class="red"><i class="fa fa-sort-desc"></i> 4% </i></span>
                  </div>
                </div>
              </div>
            </div>
 <!-- /sms delivery failure, gauge, kb up , kp down-->


 <!-- line and bar charts -->
         <div class="row">


            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="dashboard_graph x_panel">
                <div class="x_title">
                  <h2>Evolution du traffic</h2>
                  <ul class="nav navbar-right panel_toolbox" style="min-width:0px">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-file-pdf-o"></i> Export PDF</a>
                        </li>
                        <li><a href="#"><i class="fa fa-file-image-o"></i> Export GIF</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                 <div class="x_content">
                   
                    <div id="linechart" style="width:100%; ">

                        @(Html.Kendo().Chart()
                            .Name("linechart")
                            .Legend(legend => legend.Visible(true))
                            .ChartArea(chartArea => chartArea.Background("transparent"))
                            .Series(series =>
                            {
                                series.Line(new Double[] { 56000, 63000, 74000, 91000, 84000,96050 }).Name("Total trafic");
                            })
                            .CategoryAxis(axis => axis.Categories("jan 2017", "Fev 2017", "Mar 2017", "Avr 2017", "Mai 2017", "Jui 2017")
                                                    .MajorGridLines(lines => lines.Visible(false))
                                                    )
                            .ValueAxis(axis => axis.Numeric()
                                                 .Max(100000)
                                                 .Line(line => line.Visible(false))
                                                 .MajorGridLines(lines => lines.Visible(true))
                             )
                             .Tooltip(tooltip => tooltip.Visible(true)
                                                      .Template("#= series.name #: #=value #")
                                                      )
                             .HtmlAttributes(new {style="height: 260px;width: 100%" })
                             )

                    </div>
                  </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 widget_tally_box">
              <div class="x_panel dashboard_graph">
                <div class="x_title">
                  <h2>Repartition du trafic par opérateur</h2>
                  <ul class="nav navbar-right panel_toolbox" style="min-width:0px">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                         <li><a href="#"><i class="fa fa-file-pdf-o"></i> Export PDF</a>
                        </li>
                        <li><a href="#"><i class="fa fa-file-image-o"></i> Export GIF</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                    <div class="x_content" style="height:270px">

                    <div id="chart" style="width:100%; ">

                        @(Html.Kendo().Chart()
                            .Name("barchart")
                            .Legend(legend => legend.Visible(true))
                            .ChartArea(chartArea => chartArea.Background("transparent"))
                            .Series(series =>
                            {
                                series.Bar(new Double[] { 56000, 63000, 74000, 91000 }).Name("Total trafic");
                            })
                            .CategoryAxis(axis => axis.Categories("ORDC", "Etisalat NIGERIA", "Camtel", "Unknown")
                                                    .MajorGridLines(lines => lines.Visible(false))
                                                    )
                            .ValueAxis(axis => axis.Numeric()
                                                 .Max(100000)
                                                 .Line(line => line.Visible(false))
                                                 .MajorGridLines(lines => lines.Visible(true))
                             )
                             .Tooltip(tooltip => tooltip.Visible(true)
                                                      .Template("#= series.name #: #=value #")
                                                      )
                             .HtmlAttributes(new {style="height: 260px;width: 100%" })
                             )

                    </div>

                   
                  </div>
              </div>
            </div>

 
          

          </div>         
        <!-- /line and bar charts -->




          